<div>
    <h1>Login</h1>
    <form id="loginForm">

        <label>Email</label>
        <input name="email">
        <br />

        <label>Contraseña</label>
        <input name="contraseña">
        <br />

        <input type="submit">
    </form>
    <p>para crear una cuenta ingresa <a href="/register">  aqui</a></p>
    <p>¿Tienes cuenta de Github? <a href="/api/github/login">Haz login por Github</a></p>
</div>

<script src="/js/login.js"></script>


