<h1>Ticket de Compra</h1>


<p>Precio total: ${{precioTotal}}</p>
<p>Cantidad total: {{cantidadTotal}}</p>
<h2>gracias por su compra </h2>


<button id="finalizarCompra"> finalizar compra </button>



<script src="/js/tiket.js"></script>
