<button id="irAProductos">ir a productos</button>
<br /><br />
<p>indique la cantidad de productos a buscar</p>
<form id="buscarProductoPorCantidad">
        <input name="cantidad">
        <br />
        <input type="submit">
</form>
<br />
<p>indique el id</p>
<form id="buscarProductoPorId">

        <label>id del producto a buscar</label>
        <input name="id">
        <br />
        <input type="submit">
</form>


<script src="/js/usuario.js"></script>
